@using Relictify.Backend.API
@using Relictify.Startup
@inject IStartupService Startup


<div class="modal-container">
    @foreach (CharacterManifestItem item in _manifest)
    {
        <AddCharModalItem CharFromManifest=@item/>
    }
</div>

@code {
    private List<CharacterManifestItem> _manifest = new();

    protected override void OnInitialized()
    {
        this._manifest = Startup.GetCharacterManifest().Manifest;
    }
}