@using Relictify.Backend.API

<div class="modal-item-@CharFromManifest.Rarity-star" onclick="">
    <img class="item-char-image" src="@CharFromManifest.Name-splash.webp" alt="@CharFromManifest.Name"/>
    <img class="item-element-icon" src="path-@(CharFromManifest.Path).webp" alt="@CharFromManifest.Path"/>
    <p class="item-char-name">@CharFromManifest.Name</p>
</div>

@code {
    [Parameter]
    public required CharacterManifestItem CharFromManifest { get; set; }
    
    // TODO: Add char to active
    
    // TODO: If character is already active, grey out the box (change the CSS class on the conditional).
    
}