@page "/chartest"
@using Relictify
@inject HttpClient Http

<div class="characterSelector">
    @foreach (Character character in charactersList)
    {
        <div class="characterBox">
            <img src="favicon.png"/>
            <p>@character.Name</p>
        </div>
    }
</div>
    

@code {
    private List<Character> charactersList = new List<Character>();

    protected override async Task OnInitializedAsync()
    {
        charactersList = await Http.GetFromJsonAsync<List<Character>>("data/CharactersList.json");
    }
    //need to somehow figure out how to render this component /above/ the main screen.
}
