@using Relictify.Shared.Components.AddChar
@using Relictify.Backend.Characters
<div>
    @foreach (CharacterEntry Char in Chars)
    {
        <CharSelectorButton/>
    }
    <AddCharButton/>
</div>

@code {
    private int TotalChars;
    private CharacterEntry[] Chars;
}