@using Relictify.Classes
<div class="page-summary">
    <PageSummaryContainer CharName="@PageEntry.Character.Name" CharPath="@PageEntry.Character.CharPath"/>
</div>

@code {

    [Parameter]
    public required CharacterEntry PageEntry { get; set; }

}