@using Relictify.Backend.Characters
@using Relictify.Backend.Helpers
<div class="summary-details">
    <img class="details-img" src="assets/images/char-paths/@(CharPath.ToString()).webp" alt="@CharPath.ToString()"/>
    <p class="details-text">@EnumToString.ConvertCharPath(CharPath) / @CharName</p>
</div>

@code {

    [Parameter]
    public required CharPath CharPath { get; set; }

    [Parameter]
    public string CharName { get; set; } = "";

}