@page "/relictify-app"
@using Relictify.Shared.Components.PageSummary
@using Relictify.Shared.Components.CharSelector
@using Relictify.Classes
@using Relictify.Enums
@using Relictify.Interfaces

@inject IStateService AppState

<div>
    <PageSummary PageEntry="@_testEntry"/>
    <div>
        <CharSelector/>
        <PageContentWrapper/>
    </div>
</div>


@code {
    private static readonly Character TestChar = new Character(5, "Pela", Element.Ice, CharPath.Nihility);
    private readonly CharacterEntry _testEntry = new CharacterEntry(TestChar);
    private Character _currentChar = new Character(0, "Blank", Element.Imaginary, CharPath.None);
    private CharacterEntry? _currentEntry;
    private Page _activePage = Page.None;
    private void HandleStateChange()
    {
        this._currentChar = AppState.GetCurrentChar();
        this._activePage = AppState.GetCurrentPage();
        this._currentEntry = CharacterEntry.LoadCharacterEntry(this._currentChar);
        StateHasChanged();
        //Might need to add a StateHasChanged() call.
    }

    protected override void OnInitialized()
    {
        AppState.OnAppStateChange += HandleStateChange;
    }
}