@page "/relictify-app"
@using Relictify.StateManagement
@using Relictify.Shared.Components.PageSummary
@using Relictify.Shared.Components.CharSelector
@using Relictify.Backend.Characters

@inject IStateService AppState

<div>
    <PageSummary PageEntry="@_testEntry"/>
    <div>
        <CharSelector/>
        <PageContentWrapper/>
    </div>
</div>


@code {
    private static readonly Character TestChar = new(5, "Dan Heng", CombatElement.Wind, CharPath.TheHunt);
    private readonly CharacterEntry _testEntry = new(TestChar);
    private PageInfo _pageInfo;
    
    protected override void OnInitialized()
    {
        AppState.OnAppStateChange += HandleStateChange;
    }
    
    private void HandleStateChange()
    {
        _pageInfo.Entry = AppState.GetCurrentEntry();
        _pageInfo.Page = AppState.GetCurrentPage();
        StateHasChanged();
        // Unsure if need to use the StateHasChanged() call.
    }

    

}